.bg-primary-gradient {
    background: linear-gradient(
      to right,
      #e3505f 0%,
      #e3505f 16.66%,
      #f8a67d 16.66%,
      #f8a67d 33.32%,
      #feda8d 33.32%,
      #feda8d 49.98%,
      #feda8d 49.98%,
      #feda8d 66.64%,
      #a4d186 66.64%,
      #a4d186 83.3%,
      #63aa8e 83.3%,
      #63aa8e 100%
    );
  }

#logoContainer {
    background-image: url(../../img/logo-white.svg);
}

#smallLogoContainer {
    background-image: url(../../img/logo-inv_grad.svg);
}