{% extends "base.html" %} {% block title %}Membership / Donations{% endblock %}
{% block content %}
<div class="container my-5">
  <div class="text-center mb-5">
    <h1 class="special-header fancy-text-primary">Membership/Donations</h1>
    <p class="lead">
      Private.coffee is a non-profit organization dedicated to supporting
      privacy and digital sovereignty. We fund our activities and running
      infrastructure costs through membership fees. Donations allow us to expand
      our services and reach more people.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Membership</h5>
          <p class="card-text">
            Membership fees help cover the costs of our activities, server
            infrastructure, domain names, and other running operating expenses.
            Donations allow us to pay for one-time expenses like software
          </p>
          <p class="card-text">
            Supporting the Private.coffee project is possible by joining our
            association or by making a direct donation.
          </p>
          <a href="#" class="btn btn-primary">Join Us</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Bank Donations</h5>
          <p class="card-text">
            Even if you're not a member, you can still support us by making a
            direct donation to our bank account. Your donation will be used to
            fund our activities and expand our services.
          </p>
          <p class="card-text">
            <b>Account holder:</b> Private.coffee - Verein zur Förderung von
            Privatsphäre und digitaler Souveränität
          </p>
          <p class="card-text"><b>IBAN:</b> AT35 2081 5000 4554 0812</p>
          <p class="card-text"><b>BIC:</b> STSPAT2GXXX</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Crypto Donations</h5>
          <p class="card-text">
            While our expenses are generally in fiat currency, we accept
            donations in cryptocurrencies, too.
          </p>
          <p class="card-text">
            <b>Bitcoin (BTC):</b>
            <code>bc1qnu7r5sed4afacfpgx5za8hsyhaj4rs45dpm26k</code>
          </p>
          <p class="card-text">
            <b>Monero (XMR):</b>
            <code
              >487Ny4iBk2pKGJwjyYrumFD8xFmrS6jCSXNA8e5EvVJ49GyS54CRDVz514MBnXgNT1EioKYiagHs33sLzUAFj8i3Pwg3AMS</code
            >
          </p>
          <p class="card-text">
            <b>Ethereum (ETH):</b> <code>Coming soon&trade;</code>
          </p>
          <p class="card-text">
            If your client supports OpenAlias, you can just send your donation
            to <code>private.coffee</code>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow-sm mt-4">
    <div class="card-body">
      <h5 class="card-title">Transparency Report for May 2024</h5>
      <p class="card-text">
        We believe in transparency and accountability. Below is a summary of our
        income and expenses for the last month.
      </p>
      <div class="table-responsive">
        <table class="table table-bordered table-transparency">
          <thead class="table-light">
            <tr>
              <th scope="col">Category</th>
              <th class="currency-col" scope="col">Euros (€)</th>
              <th class="currency-col" scope="col">Bitcoin (BTC)</th>
              <th class="currency-col" scope="col">Ethereum (ETH)</th>
              <th class="currency-col" scope="col">Monero (XMR)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Account Balance (start of month)</td>
              <td>+ €112.33</td>
              <td>0 BTC</td>
              <td>0 ETH</td>
              <td>0 XMR</td>
            </tr>
            <tr>
              <td>Membership Fees</td>
              <td>+ €365.00</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Donations</td>
              <td></td>
              <td>+ 0.00043400 BTC</td>
              <td></td>
              <td>+ 0.447661805527 XMR</td>
            </tr>
            <tr>
              <td>Server Costs</td>
              <td>- €424.65</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Domain Names</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Operating Expenses</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Conversions</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-secondary">
              <td><b>Total Income</b></td>
              <td><b>+ €365.00</b></td>
              <td><b>+ 0.00043400 BTC</b></td>
              <td><b>+ 0 ETH</b></td>
              <td><b>+ 0.447661805527 XMR</b></td>
            </tr>
            <tr class="table-secondary">
              <td><b>Total Expenses</b></td>
              <td><b>- €424.65</b></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-secondary">
              <td><b>Account Balance (end of month)</b></td>
              <td><b>+ €52.68</b></td>
              <td><b>+ 0.000434 BTC</b></td>
              <td><b>0 ETH</b></td>
              <td><b>+ 0.447661805527 XMR</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card shadow-sm mt-4">
    <div class="card-body">
      <h5>Central Register of Associations (ZVR) Number: 1758485319</h5>
      <p>
        Our statutes can be found in our Git
        <a href="https://git.private.coffee/PrivateCoffee/statuten"
          >in German (legally binding)</a
        >
        and
        <a
          href="https://git.private.coffee/PrivateCoffee/Statuten/src/branch/english"
          >in English</a
        >.
      </p>
      <p class="contact-info" id="contact-info">
        Interested in joining the association? Reach out via
        <a href="mailto:support@private.coffee">email</a> or
        <a href="https://matrix.pcof.fi/#/#private.coffee:private.coffee"
          >Matrix</a
        >
        for more information.
      </p>
    </div>
  </div>
</div>
{% endblock %}
