{% extends "membership.html" %}
{% block serviceinfo %}
    <div class="alert alert-info">
        <p>
            <strong>Welcome to Private.coffee!</strong> Rallly Pro is free for all logged-in users. Upon first login, it may take up to five minutes for your account to be upgraded. If you have any issues, please contact us at <a href="mailto:support@private.coffee">support@private.coffee</a>
        </p>
        <p>
            If you find our services useful, please consider supporting us through a donation or becoming a supporting member. This will help us keep our free services running and improve our offerings. See below for more information.
        </p>
    </div>
{% endblock serviceinfo %}
